{% extends "BricksUserBundle::layout.html.twig" %}

{% import "BricksSiteBundle::macros/macrosInfo.html.twig" as macrosInfo %}

{% block main %}

    <div class="container">

        <form action="{{ (entity.isNew) ? path('user_brick_create') : path('user_brick_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} id="user-brick-edit" class="form" novalidate>

            <div class="row">
                <div class="col-md-12">

                    <p>
                        <div class="pull-right">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> {{ 'save'|trans|capitalize }}
                        </button>
                        <a href="{{ path('user_brick') }}" class="btn">
                            <span class="glyphicon glyphicon-chevron-left"></span> {{ 'back_to_the_list'|trans|capitalize }}
                        </a>
                        </div>

                        <h1>{{ (entity.isNew) ? 'brick.create_new_brick'|trans({}, 'UserBundle'): 'brick.edit_brick'|trans({}, 'UserBundle') }}</h1>
                    </p>

                    <br>


                    {# BRICK TITLE #}
                    <div class="form-group {{ (form_errors(form.title))?'has-error':'' }}">
                        <div class="control-label">
                            <strong>
                                {{ 'brick.title'|trans({}, 'UserBundle')|capitalize }}
                            </strong>

                            {# info modal #}
                            {{ macrosInfo.bootstrapInfoModal('brick.help.title.title'|trans({}, 'UserBundle'), 'brick.help.title.body'|trans({}, 'UserBundle')) }}
                        </div>
                        <div class="controls">
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

                            {% if form_errors(form.title) %}
                                <div class="form-errors">
                                    {{ form_errors(form.title) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {# BRICK TAGS #}
                    <div class="form-group">
                        <div class="control-label">
                            <strong>
                                {{ 'brick.tags'|trans({}, 'UserBundle')|capitalize }}
                            </strong>

                            {# info modal #}
                            {{ macrosInfo.bootstrapInfoModal('brick.help.tags.title'|trans({}, 'UserBundle'), 'brick.help.tags.body'|trans({}, 'UserBundle')) }}
                        </div>
                        <div class="controls">

                            {{ 'brick.tags_help_text'|trans({}, 'UserBundle') }}
                            <br>

                            {{ form_widget(form.tags) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    {# BRICK LICENSE #}
                    <div class="form-group">
                        <div class="control-label">
                            <strong>
                                {{ 'brick.license'|trans({}, 'UserBundle')|capitalize }}
                            </strong>

                            {# info modal #}
                            {{ macrosInfo.bootstrapInfoModal('brick.help.license.title'|trans({}, 'UserBundle'), 'brick.help.license.body'|trans({}, 'UserBundle')) }}
                        </div>
                        <div class="controls">
                            <div id="license-wrapper">
                                {{ form_widget(form.brick_license, {'attr': {'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                    </div>

                    {# BRICK CANONICAL URL #}
                    <div class="form-group">
                        <div class="control-label">
                            <strong>
                                {{ 'brick.canonical_url'|trans({}, 'UserBundle')|capitalize }}
                            </strong>

                            {# info modal #}
                            {{ macrosInfo.bootstrapInfoModal('brick.help.canonical_url.title'|trans({}, 'UserBundle'), 'brick.help.canonical_url.body'|trans({}, 'UserBundle')) }}
                        </div>
                        <div class="controls">
                            {{ form_widget(form.canonical_url, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">

                    {# BRICK DESCRIPTION #}
                    <div class="form-group">
                        <div class="control-label">
                            <strong>
                                {{ 'brick.description'|trans({}, 'UserBundle')|capitalize }}
                            </strong>

                            {# info modal #}
                            {{ macrosInfo.bootstrapInfoModal('brick.help.description.title'|trans({}, 'UserBundle'), 'brick.help.description.body'|trans({}, 'UserBundle')) }}
                        </div>
                        <div class="controls">
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">

                    {# BRICK CONTENT #}
                    <div id="form-group-content" class="form-group">
                        <div class="controls">
                            <ul class="nav nav-tabs" id="content-tab">
                                <li class="active">
                                    <a href="#content-code" data-toggle="tab">
                                        <strong>
                                            {{ 'brick.content'|trans({}, 'UserBundle')|capitalize }}
                                        </strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="#content-preview" data-toggle="tab">
                                        <strong>
                                            {{ 'brick.preview'|trans({}, 'UserBundle')|capitalize }}
                                        </strong>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="content-code">
                                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="tab-pane" id="content-preview"></div>
                            </div>
                        </div>
                    </div>

                    {# actions #}
                    <div class="form-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span> {{ 'save'|trans|capitalize }}
                            </button>
                            <a href="{{ path('user_brick') }}" class="btn">
                                <span class="glyphicon glyphicon-chevron-left"></span> {{ 'back_to_the_list'|trans|capitalize }}
                            </a>
                        </div>
                    </div>

                    {{ form_rest(form) }}
                </div>
            </div>

        </form>
    </div>


{% endblock %}

{% block javascripts_footer %}

    <script type="text/javascript">
        $(function() {
        	/****************************************************************************************
             * tabbed panes for Brick content/preview
             ***************************************************************************************/
            /**
             * preview the content of the brick by calling the markup parser via ajax
             */
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                // tab element pressed
                var tabCaller = $(e.target);

                // tab pane related
                var paneTarget = $(tabCaller.attr('href'));

                // if preview is requested
                if (tabCaller.attr('href') == '#content-preview') {

                    /**
                     * perform ajax call to preview content
                     */
                	$.ajax({
                	    url: "{{ path('_user_brick_renderMarkdown') }}",
                	    data: {
            	            'content': $('#content-code textarea').val()
        	            },
        	            type: 'POST',
        	            beforeSend: function(e) {
        	            	$('#content-preview').html('loading preview...');
                        },
        	            complete: function(e) {
        	            	$('#content-preview').html(e.responseText);

                            // highlight code
                            syntaxHighlight({
                                'container': $('#content-preview')
                            });
                        }
            		})
                }
            })

            /****************************************************************************************
             * Tags management
             ***************************************************************************************/

            $('#{{ form.tags.vars.id }}').tagit({
                allowSpaces: true
            });

        });
    </script>
    
{% endblock %}