{% import "BricksSiteBundle::macros/macrosBrick.html.twig" as macrosBrick %}

<ul class="bricks-wall">
    {% for resource in resources %}
        <li class="{% if resource.getResourceType() == 'BRICK' %}resource-type-brick{% elseif resource.getResourceType() == 'EXTERNAL_RESOURCE' %}resource-type-external-resource{% endif %}">
            <div class="media">
                {#
                <a class="pull-left" href="{{ path('brick_show', {slug: brick.slug}) }}">
                    <span class="glyphicon glyphicon-file"></span>
                </a>
                #}
                <div class="media-body">
                    <div class="head">
                        {% if resource.getResourceType() == 'BRICK' %}
                            <span class="glyphicon glyphicon-book pull-left"></span>
                            <span class="pull-left">
                                &nbsp;published on symfonybricks.com
                            </span>
                        {% elseif resource.getResourceType() == 'EXTERNAL_RESOURCE' %}
                            <span class="glyphicon glyphicon-link pull-left"></span>
                            <span class="pull-left">
                                &nbsp;external resource
                            </span>
                        {% endif %}

                        <span class="pull-right">
                            {{ time_diff(resource.publishedAt) }}
                        </span>
                    </div>

                    {% if resource.getResourceType() == 'BRICK' %}
                        <a href="{{ path('brick_show', {slug: resource.slug}) }}" class="title">
                            {{ resource.title }}
                        </a>
                    {% elseif resource.getResourceType() == 'EXTERNAL_RESOURCE' %}
                        <a href="{{ path('external_resource_show', {slug: resource.slug}) }}" class="title">
                            {{ resource.title }}
                        </a>
                    {% endif %}

                    <p class="description">
                        {{ resource.description|truncate(240, true) }}
                    </p>

                    {% if resource.getResourceType() == 'BRICK' %}
                        <a href="{{ path('brick_show', {slug: resource.slug}) }}" class="read">
                            read <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% elseif resource.getResourceType() == 'EXTERNAL_RESOURCE' %}
                        <a href="{{ path('external_resource_show', {slug: resource.slug}) }}" class="read">
                            {{ resource.url|truncate(40) }} <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% endif %}

                    <hr>

                    <p class="brick-info">

                        {% if resource.tags|length > 0 %}
                            <span class="glyphicon glyphicon-tag"></span> {{ brick_formatted_tags(resource, ", ", false)|raw }}
                        {% endif %}
                        {% if resource.resourceType == 'BRICK' %}
                            <br>
                            <span class="glyphicon glyphicon-user"></span> <a href="{{ path('userprofile_show', {'username': resource.user.username}) }}">{{ resource.user }}</a>
                        {% endif %}
                        {#
                        <br>
                        <span class="glyphicon glyphicon-calendar"></span> {{ resource.updatedAt|date('d M Y') }}
                        #}
                        {#
                        <br>
                        {{ macrosBrick.toggleUserStarsBrick(resource) }}
                        #}
                    </p>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

<script>
    $(function(){

        /**
         * Initialize Masonry plugin
         * @type {Window.Masonry}
         */
        var msnry = new Masonry('ul.bricks-wall', {
            //columnWidth: 200,
            itemSelector: 'li'
        }); msnry.layout();

    });
</script>