{% extends 'BricksSiteBundle::layout.html.twig' %}

{# META TAGS blocks #}
{% set meta_title_content = "Bricks | SymfonyBricks.com" %}
{% set meta_description_content = "List of bricks hosted on SymfonyBricks.com" %}

{% block meta_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_description_content %}{{ meta_description_content }}{% endblock %}
{% block meta_og_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_og_description_content %}{{ meta_description_content }}{% endblock %}
{# END META TAGS blocks #}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Bricks</h2>

                <ul class="bricks-list">
                    {% for brick in bricks %}
                        <li>
                            <a href="{{ path('brick_show', {slug: brick.slug}) }}">
                                {{ brick.title }}
                            </a>
                            <p>
                                <span class="glyphicon glyphicon-user"></span> {{ brick.user }}
                                |
                                <span class="glyphicon glyphicon-calendar"></span> {{ 'brick.last_update'|trans }}: {{ brick.updatedAt|date('d/m/Y') }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
        
{% endblock %}