{% extends 'BricksSiteBundle::layout.html.twig' %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>{{ 'brick.search.page_title'|trans }}</h1>

                <form id="form-search" class="well form-inline" action="{{ path('resource_search') }}" role="form">

                    <div class="form-group group-title">
                        <label>{{ 'brick.search.form.q'|trans }}</label>
                        <input name="q" class="form-control" type="text" value="{{ app.request.get('q') }}">
                    </div>

                    <div class="form-group group-tag">
                        <label>Tag</label>
                        <input name="tag" class="form-control" size="16" type="text" value="{{ app.request.get('tag') }}">
                    </div>

                    <div class="form-group group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> {{ 'brick.search.form.button_submit'|trans }}</button>
                    </div>
                </form>

                {% if entities|length > 0 %}
                    {% include 'BricksSiteBundle:Brick:_bricks_wall.html.twig' with {'bricks': entities} %}
                {% else %}
                    {{ 'brick.search.no_results'|trans }}
                {% endif %}

            </div>
        </div>
    </div>
    
{% endblock %}