{% extends 'BricksSiteBundle::layout.html.twig' %}

{# set class .user to the <body> tag #}
{% block body_class %}user{% endblock body_class %}

{# display the user menu #}
{% block user_menu %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="navbar" id="user-navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li id="bashboard">
                            <a href="{{ path('user_dashboard') }}">
                                <span class="glyphicon glyphicon-home"></span> {{ 'user_navbar.dashboard'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li id="messages">
                            <a href="{{ path('fos_message_inbox') }}">
                                <span class="glyphicon glyphicon-inbox"></span> {{ 'user_navbar.message'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_brick_starred') }}">
                                <span class="glyphicon glyphicon-star"></span> {{ 'user_navbar.bricks_starred'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_brick') }}">
                                <span class="glyphicon glyphicon-book"></span> {{ 'user_navbar.bricks'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-plus"></span> {{ 'user_navbar.create_brick'|trans({}, 'UserBundle')|capitalize }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('user_brick_new') }}"><span class="glyphicon glyphicon-plus"></span> {{ 'user_navbar.create_brick_blank'|trans({}, 'UserBundle')|capitalize }}</a>
                                </li>
                                <li>
                                    <a href="#modal-brick-from-url" role="button" data-toggle="modal"><span class="glyphicon glyphicon-link"></span> {{ 'user_navbar.create_brick_by_fetching_url'|trans({}, 'UserBundle')|capitalize }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> {{ 'user_navbar.profile'|trans({}, 'UserBundle')|capitalize }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-user"></span> {{ 'user_navbar.edit_profile'|trans({}, 'UserBundle')|capitalize }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-lock"></span> {{ 'user_navbar.change_password'|trans({}, 'UserBundle')|capitalize }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock user_menu %}

{# main content #}
{% block main %}
    {% block fos_user_content %}{% endblock fos_user_content %}
{% endblock main %}